<!-- <p>category works!</p> -->
<div class="container">
    <h1>Category Management</h1>
  
    <form (submit)="addcategory()">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="cname" name="name" required>
      </div>
      
      <button type="submit" class="btn btn-primary">Add Category</button>
    </form>

    <hr>

    <table class="table" *ngIf="categories">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <!-- <th>Action</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category['categoryId'] }}</td>
          <td>{{ category['cname']}}</td>
        
          
        </tr>
      </tbody>
    </table>
  </div>
