<p>user-dashboard works!</p>


<div class="d-flex justify-content-center align-items-center">
<!-- Primary button -->
<button class="btn btn-primary"><a routerLink="/vendor">Manage Vendor</a></button><br><br>
</div>




<div class="d-flex justify-content-center align-items-center">
<!-- Secondary button -->
<button class="btn btn-secondary"><a routerLink="/category">Manage Category</a></button><br><br>
</div>
   
<div class="d-flex justify-content-center align-items-center">
<!-- Success button -->
<button class="btn btn-success"><a routerLink="/subcategory">Manage SubCategory</a></button><br><br>
</div>

<!-- Danger button -->
<button class="btn btn-danger">Danger Button</button><br><br>

<!-- Warning button -->
<button class="btn btn-warning">Warning Button</button><br><br>

<!-- Info button -->
<button class="btn btn-info">Info Button</button><br><br>

<!-- Light button -->
<button class="btn btn-light">Light Button</button><br><br>

<!-- Dark button -->
<button class="btn btn-dark">Dark Button</button><br><br>
